@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;

  font-family: 'Noto Sans', sans-serif;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.section-letter {
  display: block;
  width: 50%;
  float: left;
}

.section-icon {
  display: block;
  width: 50%;
  float: left;
}

.wrapper {
  background-color: #e5c30a;
  padding: 1.3rem;
}

section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

section p {
  margin-top: 5px;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h2, p {
    margin: 0 0 1.3rem;
    display: block;
    clear: both;
  }

  .section-letter {
    vertical-align: middle;
  }

  .section-icon {
    vertical-align: middle;
  }

  .img-flex {
    width: 85%;
    text-align: center;
    vertical-align: middle;
  }

}
